<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{include #title} - moVi</title>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    {control css-back}
    <link rel="stylesheet" href="{$basePath}/vendor/peterzadori/AppPackage/src/AppPackage/Resources/assets/movi/dist/back.css">

    {control js-back}
</head>

<body>
<div class="page-wrapper">
    <div class="sidebar">
        <div class="sidebar-header">
            <h6>moVi</h6>
        </div>

        <div class="sidebar-content">
            {control navigation}
        </div>
    </div>

    <div class="page">
        <div class="user-panel">
            <a href="{$baseUrl}" target="_blank" class="btn btn-link"><i class="fa fa-fw fa-search"></i>{_"View Page"}</a>

            <div class="dropdown">
                <a class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                    <b><i class="fa fa-user"></i> {$user->entity->name}</b>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{plink :App:Back:MyAccount:}">{_"Edit Account"}</a></li>
                    <li><a href="{link logout!}">{_"Logout"}</a></li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            {define title}{/define}
            {define content}{/define}

            <div class="page-header">
                {ifset #buttons}
                    <div class="pull-right">
                        {include #buttons}
                    </div>
                {/ifset}
                <h1>{include #title} {ifset #subtitle}<small>/ {include #subtitle}</small>{/ifset}</h1>
            </div>

            {control flashes}

            {include #content}
        </div>
    </div>
</div>

{define scripts}{/define}
{include #scripts}
</html>