.alert-variant(@background; @border; @text-color) {
  background-color: @background;
  border-color: @border;
  color: @text-color;

  transition: all .25s ease-out;

  hr {
    border-top-color: darken(@border, 5%);
  }

  .alert-link {
    color: darken(@text-color, 10%);
  }

  &:hover {
    background-color: darken(@background, 5%);
    border-color: darken(@border, 5%);
  }
}

.button-icon-variant(@text-color; @background; @border) {
  i.fa {
    background-color: darken(@background, 10%);
    border-color: darken(@border, 12%);
  }
}

.button-icon-size(@padding-vertical; @padding-horizontal; @line-height) {
  i.fa {
    margin-left: -@padding-horizontal;
    margin-right: @padding-vertical;
    padding: @padding-vertical / 2 @padding-horizontal;
    line-height: @line-height;
  }
}

.btn-outline(@color) {
  font-weight: 600;
  border: 2px solid @color;
  color: @color!important;
  background: transparent;

  &:hover {
    background: @color;
    color: #FFF!important;
  }

  > .fa {
    margin-right: 5px;
  }
}