@body-bg: #F9F9F9;

//@grid-gutter-width: 60px;

@brand-primary: #0275d8;

@font-family-sans-serif: "Source Sans Pro";
@font-size-base: 14px;

@border-radius-small: 2px;

@sidebar-width: 260px;
@sidebar-width-closed: 60px;
@sidebar-active-bg: #ff404b;
@sidebar-submenu-bg: #333747;
@sidebar-link-color: #7a7e8a;
@sidebar-submenu-link-color: #5e6271;
@sidebar-bg: #2B2F3E;

@headings-color: #8F8F8F;
@headings-weight: 600;

@label-weight: 300;

//** Padding around the thumbnail image
@thumbnail-padding:           0;
//** Thumbnail background color
@thumbnail-bg:                @body-bg;
//** Thumbnail border color
@thumbnail-border:            none;
//** Thumbnail border radius
@thumbnail-border-radius:     @border-radius-base;

//** Custom text color for thumbnail captions
@thumbnail-caption-color:     @text-color;
//** Padding around the thumbnail caption
@thumbnail-caption-padding:   9px;
