@import "_bootstrap";
@import "../../fontawesome/less/variables";
@import "../../fontawesome/less/mixins";

// Basic style
html, body {
  height: 100%;
  min-height: 100%;
}

.logo {
  margin-bottom: 40px;

  &-small {
    width: 100px;
  }
}

@import "text";
@import "forms";

// Page layout - widths and heights, margins, floats, ...
@import "layout";

// Components
@import "components/buttons";
@import "components/sidebar";
@import "components/panels";
@import "components/tree";
@import "components/thumbnails";
@import "components/grido";
@import "components/tiles";
@import "components/user-panel";
@import "components/redactor";
@import "components/modals";
@import "components/alerts";
@import "components/image-uploader";

.page-header {
  margin: 0;
  padding: 0;
  border: 0;
}

form > .table {
  margin-bottom: 0;
}

.panel-footer .pagination {
  margin: 0;
}

.form-control.form-control--items-per-page {
  width: auto;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.redactor-toolbar, .redactor-dropdown {
  z-index: 1040 !important;
}

.alert .fa {
  margin-right: 5px;
}

.dropdown {
  display: inline-block;
}

img {
  .img-responsive(inline-block);
  max-width: 100% !important;
}