label, .radio label, .checkbox label {
  font-weight: @label-weight;
  font-size: @font-size-base + 2px;
}

fieldset {
  legend {
    width: auto;
    position: relative;
    color: #FFF ;
    background-color: @sidebar-active-bg;
    border: 0;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;

    margin-left: -16px;
    margin-bottom: 10px;

    padding: 5px 5px 5px 15px;

    &::after {
      content: '';
      position: absolute;
      right: -15px;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0 15px 15px;
      border-color: transparent transparent transparent @sidebar-active-bg;
    }
  }
}

.form-group.required {
  label {
    font-weight: 600;
    position: relative;

    &:after {
      position: absolute;
      content: '*';
      color: #CCC;
      margin-left: 5px;
    }
  }

  .form-control {
    border-color: @brand-primary;
  }
}

.form-group.has-error .form-control {
  border-color: @state-danger-text;
}

.form-control-feedback {
  top: 0;
}

.has-feedback-left {
  // Enable absolute positioning
  position: relative;

  // Ensure icons don't overlap text
  .form-control {
    padding-left: (@input-height-base);

  }

  .form-control-feedback {
    left: 0;
    right: auto;
  }
}

.file-input {
  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  input + label {
    .btn();
    .btn-outline(@brand-info);
  }
}