.page-wrapper {
  width: 100%;
  height: 100%;

  .sidebar {
    .sidebar-content {
      display: none;
    }
  }

  .content-wrapper {

  }

  &.sidebar-closed {
    .sidebar-content {
      display: block;
    }
  }

  .page {
    position: relative;

    @media (min-width: @screen-tablet) {
      padding-top: 70px;
    }
  }
}

.container, .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: @screen-tablet) {
  .page-wrapper {
    width: 100%;
    height: 100%;

    .sidebar, .page {
      display: block;
      vertical-align: top;
      float: left;
    }

    .sidebar {
      position: fixed;
      height: 100%;

      .sidebar-content {
        display: block;
      }
    }

    .page {
      margin-left: @sidebar-width;
      width: calc(~"100% - " @sidebar-width);
    }

    &.sidebar-closed {
      .page {
        margin-left: @sidebar-width-closed;
        width: calc(~"100% - " @sidebar-width-closed);
      }
    }
  }
}