@import "back";

body, html {
  height: 100%;
  min-height: 100%;
}

body {
  background: @sidebar-bg;
}

.login-container {
  position: relative;
  height: 100%;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
}