a:hover, a:focus {
  text-decoration: none;

  transition: all .25s ease-out;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: @headings-weight;

  small {
    font-weight: 200;
  }
}