{block title}{_"Access Denied"}{/block}

{block content}
    <div class="alert alert-danger">
        <i class="fa fa-exclamation-triangle"></i> {_"You do not have sufficent rights to access this section."}
    </div>
{/block}