<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <title>{include #title} - {$settings->page->title}</title>

    <meta name="description" content="{$settings->meta->description}">
    <meta name="keywords" content="{$settings->meta->keywords}">

    <link rel="icon" href="{$basePath}/favicon.ico">

    {define head}{/define}
    {include #head}
</head>

<body>
{define body}{/define}
{include #body}

{$settings->templating->google_analytics|noescape}
</body>
</html>