.alert.autohide {
  animation: hideAlert .2s ease-in-out 5s forwards;
  opacity: 1;
  overflow: hidden;
}

@keyframes hideAlert {
  to {
    padding: 0;
    margin: 0;
    opacity: 0;
    display: none;
    height: 0;
    max-height: 0;
  }
}