.btn {
  transition: all .25s ease-out;
  border: 0;
  font-weight: 600;
}

/*
.btn-icon {
  padding-top: 0;
  padding-bottom: 0;

  .button-icon-size(@padding-base-horizontal; @padding-base-horizontal; @line-height-base);

  &.btn-default {
    .button-icon-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
  }
  &.btn-primary {
    .button-icon-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
  }
  // Success appears as green
  &.btn-success {
    .button-icon-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
  }
  // Info appears as blue-green
  &.btn-info {
    .button-icon-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
  }
  // Warning appears as orange
  &.btn-warning {
    .button-icon-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
  }
  // Danger and error appear as red
  &.btn-danger {
    .button-icon-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
  }

  .btn {

  }

  &.btn-lg {
    // line-height: ensure even-numbered height of button next to large input
    .button-icon-size(@padding-large-vertical; @padding-large-horizontal; @line-height-large);
  }
  &.btn-sm {
    // line-height: ensure proper height of button next to small input
    .button-icon-size(@padding-small-vertical; @padding-small-horizontal; @line-height-small);
  }
  &.btn-xs {
    .button-icon-size(@padding-xs-vertical + 1px; @padding-xs-horizontal; @line-height-small);
  }
}
*/

.btn-round {
  border-radius: 50%;
  padding: 4px 9px;
  border: 0;
  font-size: 16px;
}

.btn-outline-default {
  .btn-outline(@btn-default-color);
}
.btn-outline-primary {
  .btn-outline(@brand-primary);
}
.btn-outline-success {
  .btn-outline(@brand-success);
}
.btn-outline-danger {
  .btn-outline(@brand-danger);
}
.btn-outline-info {
  .btn-outline(@brand-info);
}