.grido {
  .checker {
    text-align: center;
    width: 40px;

    label {
      margin-bottom: 0;
    }
  }

  .actions, .buttons {
    text-align: right;

    width: 250px;
  }

  tr.filter th {
    background: darken(#f9f9f9, 3%);
  }

  .table>thead>tr>td.active, .table>tbody>tr>td.active, .table>tfoot>tr>td.active, .table>thead>tr>th.active, .table>tbody>tr>th.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>tbody>tr.active>td, .table>tfoot>tr.active>td, .table>thead>tr.active>th, .table>tbody>tr.active>th, .table>tfoot>tr.active>th {
    background: #fffcdd;
  }

  .btn-mini {
    margin-left: 5px;
  }

  tfoot {
    text-align: center;

    td {
      background: #f5f5f5;
    }

    .operations {
      float: left;
      text-align: left;
    }

    .pagination {
      margin: 0;
    }

    .count {
      float: right;
      text-align: left;
    }

    .form-control {
      display: inline-block;
      margin-left: 10px;
      width: auto;
    }
  }

  .head {
    th {
      white-space: nowrap;
    }

    th.desc::after {
      .fa-icon();
      content: '\f161';
      color: @gray-lighter;
    }
    th.asc::after {
      .fa-icon();
      content: '\f160';
      color: @gray-lighter;
    }
  }
}