.image-uploader {
  margin-bottom: @line-height-computed;

  .image-uploader-queue {
    margin-bottom: @line-height-computed;
    margin-left: -15px;
    margin-right: -15px;
  }

  .image-preview-wrapper {
    display: inline-block;
    vertical-align: top;
    margin: 15px;

    width: 200px;
    height: 200px;

    position: relative;

    .cancel-upload {
      display: none;
    }

    &.uploading {
      .remove-file {
        display: none;
      }
      .cancel-upload {
        display: inline-block;
      }
    }

    &.uploaded {
      .image-preview-tools, .image-preview-progress {
        transform: scale(0.2);
        opacity: 0;
      }
      .image-preview-success {
        opacity: 1;
        z-index: 2;
      }
    }

  }

  .image-preview {
    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;
    border-radius: 5px;

    img {
      max-width: 300px;
      max-height: 300px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.3);
      border-radius: 5px;
    }
  }

  .image-preview-progress, .image-preview-tools, .image-preview-success {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: all .3s ease-in-out;
  }

  .image-preview-progress {
    transform-origin: -12px -12px;
  }
  .image-preview-tools {
    transform-origin: -3px -3px;
    z-index: 1;
  }

  .image-preview-success {
    background: rgba(92,184,92,.8);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    line-height: 90px;
    font-size: 40px;

    opacity: 0;
    animation-delay: .2s;
  }

}