.modal-content {
  border: 0;
}
.modal-header {
  background: @sidebar-active-bg;
  color: #FFF;

  .close {
    color: #fff;
    margin-top: 2px;
    opacity: .8;
  }
}
.modal-title {
  color: #fff;
}
.modal-xl {
  width: 90%;
}