.panel {
  box-shadow: 0 3px 1px rgba(0,0,0,.04);
  position: relative;
}

.panel-heading .pull-right .btn {
  margin-top: -4px;
}

.panel-body .alert:last-child, .panel .table:last-child, .panel-body > .panel:last-child {
  margin-bottom: 0;
}

.panel-light {
  .panel-variant(#E9E9E9, #333, rgba(245,245,245,0.60), #E9E9E9);

  border-style: dotted;
}