#redactor-droparea input[type=file] {
  display: inline-block;
}
.redactor-box {
  margin-bottom: 0;
}
.redactor-toolbar {
  background: @gray-lighter;
  box-shadow: none;
  border: 1px solid @input-border;
  border-bottom-color: @gray-lighter;

  border-top-left-radius: @input-border-radius;
  border-top-right-radius: @input-border-radius;

  li a:hover {
    background: @brand-primary;
  }
}

.redactor-editor {
  border-color: @input-border;
  border-top: 0;
  border-bottom-left-radius: @input-border-radius;
  border-bottom-right-radius: @input-border-radius;
}

.form-group.has-error {
  .redactor-toolbar {
    background: @state-danger-bg;
  }

  .redactor-editor {
    border: 1px solid @state-danger-text;
    border-top: 0;
  }
}

.redactor-dropdown {
  margin-top: 2px;
  padding: 5px 0;
  background-color: @dropdown-bg;
  border: 1px solid @dropdown-fallback-border; // IE8 fallback
  border: 1px solid @dropdown-border;

  font-size: @font-size-base !important;
  font-family: @font-family-base !important;
  line-height: @line-height-computed !important;

  border-radius: @border-radius-base;
  .box-shadow(0 6px 12px rgba(0,0,0,.175));

  a {
    padding: 3px 20px;
    border: 0;

    &:hover {
      color: @dropdown-link-hover-color !important;
      text-decoration: none;
      outline: 0;
      background-color: @dropdown-link-hover-bg;
    }
  }
}

#redactor-modal-overlay {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
#redactor-modal {
  font-family: @font-family-base;
  font-size: @font-size-base;

  border-bottom-left-radius: @border-radius-large;
  border-bottom-right-radius: @border-radius-large;

  .box-shadow(0 5px 15px rgba(0,0,0,.5));
}
#redactor-modal header {
  padding: @modal-title-padding;
  background: @sidebar-active-bg;
  color: #FFF;
}
#redactor-modal section {
  padding: @modal-inner-padding;
}
#redactor-modal label {
  margin: 0 0 5px !important;
}
#redactor-modal-close {
  top: 15px;
  right: 15px;

  font-size: (@font-size-base * 1.5);
  font-weight: @close-font-weight;
  line-height: 1;
  color: #FFF;
  text-shadow: @close-text-shadow;
  opacity: 0.8;

  &:hover {
    color: #FFF;
    opacity: 1;
  }
}