.sidebar {
  background: @sidebar-bg;

  width: 100%;

  ul {
    .list-unstyled;
  }

  .sidebar-header {
    .text-right;

    padding: 15px;
    margin-bottom: 40px;

    h6 {
      color: #FFF;
      font-weight: bold;
      font-size: 20px;

      margin-top: 10px;
      margin-bottom: 20px;

      float: left;
      opacity: 0.35;

      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 180px;
    }

    .toggle-sidebar {
      border: 1px solid lighten(@sidebar-bg, 8%);
      border-radius: 6px;

      padding: 8px 10px;
      display: inline-block;

      color: @sidebar-link-color;
      background: darken(@sidebar-bg, 2%);

      cursor: pointer;
    }
  }

  .user {
    .text-center;

    padding-bottom: 15px;

    .avatar {
      width: 80px;
      margin-bottom: 10px;

      .img-circle;
    }

    .name {
      display: block;
      color: lighten(@sidebar-link-color, 30%);
      text-transform: uppercase;
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 300;
    }

    ul {
      .list-inline;

      li {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      li a {
        color: @sidebar-link-color;

        &:hover {
          color: lighten(@sidebar-link-color, 20%);
        }

        .fa {
          font-size: 18px;
        }
      }
    }
  }

  nav {
    a {
      position: relative;
      display: block;
    }

    .selector {
      position: absolute;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent @body-bg transparent transparent;

      display: none;
    }

    > ul > li {
      > a {
        padding: 12px 15px;
        color: @sidebar-link-color;

        .fa {
          margin-right: 6px;
        }
      }

      &:hover {
        > a {
          background: darken(@sidebar-bg, 2%);
          color: lighten(@sidebar-link-color, 20%);
        }
      }

      &.active {
        > a {
          background: @sidebar-active-bg;
          color: #FFF;
        }
      }

      &.has-submenu {
        > a:after {
          .fa-icon();

          float: right;
          margin-top: 3px;
          content: "\f053";
        }

        > a > .selector {
          display: none;
        }

        ul {
          background: @sidebar-submenu-bg;
          display: none;

          > li {
            a {
              padding: 10px 43px;
              color: @sidebar-submenu-link-color;
            }

            &.active a, a:hover {
              background: lighten(@sidebar-submenu-bg, 3%);
              color: lighten(@sidebar-submenu-link-color, 20%);
            }
          }
        }
      }

      &.open {
        background: darken(@sidebar-bg, 2%);

        > a:after {
          content: "\f078";
        }

        ul {
          display: block;
        }
      }
    }

    li.active {
      > a > .selector {
        display: inline-block;
      }
    }
  }
}

@media (min-width: @screen-tablet) {
  .sidebar {
    width: @sidebar-width;
    max-width: @sidebar-width;

    overflow: visible;
    overflow-y: hidden;

    &.closed {
      width: @sidebar-width-closed;

      .sidebar-header {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }

      h6 {
        display: none;
      }

      .user {
        .avatar {
          width: 70%;
        }

        .name {
          display: none;
        }
      }

      nav {
        span.title {
          display: none;
        }

        a {
          transition: none;
        }

        li:hover {
          width: @sidebar-width;
          position: relative;
          z-index: 999;

          .selector {
            display: none;
          }

          span.title {
            display: inline-block;
            position: relative;
            left: 30px;
          }
        }

        > ul > li.has-submenu {
          > ul {
            display: none;
          }

          > a:after {
            display: none;
          }

          &:hover {
            > a {
              border-top-right-radius: 3px;

              span.title {
                display: inline-block;
                position: relative;
                left: 30px;
              }
            }

            > ul {
              display: block;
              position: absolute;
              left: @sidebar-width-closed;
              width: @sidebar-width - @sidebar-width-closed;
              border-bottom-right-radius: 3px;

              li {
                width: @sidebar-width - @sidebar-width-closed;

                a {
                  padding-left: 10px;
                }

                span.title {
                  left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}