.thumbnail {
  box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.07);
  position: relative;
  border: 0;

  img {
    width: 100%;
    transition: opacity 0.25s ease-in-out;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgba(0,0,0,0.5);

    opacity: 0;
    transition: all .15s ease-out;
  }

  ul.tools {
    .list-unstyled;
    .list-inline;

    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 5;
    -webkit-transform: translateY(-50%);
    opacity: 0;

    transition: all .15s ease-out;

    li a.btn-round {
      box-shadow: -1px 1px 5px 0px rgba(50, 50, 50, 0.3);
    }
  }

  &:hover {
    &::before, ul.tools {
      opacity: 1;
    }
  }
}