.tile {
  display: block;
  position: relative;
  border-radius: @border-radius-base;
  padding: 30px 20px 20px;

  box-shadow: 0 3px 1px rgba(0,0,0,.04);

  margin-bottom: @grid-gutter-width;

  &__icon {
    color: #FFF;
    opacity: .3;

    position: absolute;
    right: 0;
    bottom: -35px;

    font-size: 100px;
  }

  &__num {
    color: #FFF;
    font-size: 38px;
    font-weight: 500;
  }

  h4 {
    color: #FFF;
    margin: 0;
    font-size: 22px;
  }

  &--red {
    background: @sidebar-active-bg;
  }

  &--grey {
    background: @sidebar-submenu-bg;
  }

  &--blue {
    background: #00c0ef;
  }

  &--cyan {
    background: #00b29e;
  }
}