/* jsTree default theme */
@theme-name:				default;

@hovered-bg-color:			lighten(#CCC, 15%);
@hovered-shadow-color:		#cccccc;

@disabled-color:			#666666;
@disabled-bg-color:			#efefef;
@clicked-bg-color:			lighten(#CCC, 15%);

@clicked-shadow-color:		#999999;
@search-result-color:		#8b0000;
@clicked-gradient-color-1:	#beebff;
@clicked-gradient-color-2:	#a8e4ff;
@mobile-wholerow-bg-color:	#ebebeb;
@mobile-wholerow-shadow:	#666666;
@mobile-wholerow-bordert:	rgba(255,255,255,0.7);
@mobile-wholerow-borderb:	rgba(64,64,64,0.2);
@responsive:				true;
@image-path:				"../images/";
@base-height:				32px;

@import "../../../jstree/src/themes/mixins.less";
@import "../../../jstree/src/themes/base.less";
@import "../../../jstree/src/themes/main.less";

.jstree-default .jstree-clicked {
  font-weight: 500;
}

.vakata-context {
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

