.user-panel {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: right;
  background: #fff;

  height: 50px;
  line-height: 50px;

  box-shadow: 0px 10px 80px 0px rgba(0,0,0,0.1);
  padding: 0 25px;

  .name {
    display: inline-block;
    margin-right: 15px;
  }

  .btn-link {
    color: @sidebar-bg;

    &:hover {
      color: #000;
    }
  }

  .fa {
    margin-right: 5px;
  }
}