{block title}{_"User Groups"}{/block}
{block subtitle}{_"Add Group"}{/block}

{block content}
    <div class="panel panel-default">
        <div class="panel-body">
            {control form}
        </div>
    </div>
{/block}