{block title}{_"User Groups"}{/block}
{block subtitle}{_"Group list"}{/block}
{block buttons}
    <a href="{link add}" class="btn btn-outline-success">
        {_"Add Group"}
    </a>
{/block}

{block content}
    <div class="panel panel-default">
        {control grid}
    </div>
{/block}