{block icon}<i class="fa fa-dashboard"></i>{/block}
{block title}{_"Dashboard"}{/block}

{block content}
    <div class="alert alert-info">
        {_"Welcome back"}, <b>{$user->entity->name}</b>!
    </div>

    {foreach $widgets as $widget => $factory}
        {control widgets-$widget:dashboard}
    {/foreach}
{/block}