{block title}{_"Users"}{/block}
{block subtitle}{_"User list"}{/block}
{block buttons}
    <a href="{link add}" class="btn btn-outline-success">
        {_"Add User"}
    </a>
{/block}

{block content}
    <div class="panel panel-default">
        {control grid}
    </div>
{/block}