{block title}{_"Users"}{/block}
{block subtitle}{_"Edit user"}{/block}

{block content}
    <div class="panel panel-default">
        <div class="panel-body">
            {control form}
        </div>
    </div>
{/block}