{define item}
    <a href="{plink :$item->link:}">
        <i n:class="fa, $item->icon, fa-fw" n:if="$item->icon"></i>
        <span class="title">{$item->name}</span>
        <span class="selector"></span>
    </a>
{/define}

<nav>
    <ul>
        {foreach $groups as $group}
            {if count($group->items) > 0}
                {if $group->name}
                    <li n:class="'has-submenu', $group->isActive() ? 'active open'">
                        <a href="#">
                            <i n:class="fa, $group->icon, fa-fw" n:if="$group->icon"></i>
                            <span class="title">{$group->name}</span>
                            <span class="selector"></span>
                        </a>

                        <ul>
                            <li n:foreach="$group->items as $item" n:class="$item->link === $current ? active">
                                {include #item, item => $item}
                            </li>
                        </ul>
                    </li>
                {else}
                    <li n:foreach="$group->items as $item" n:class="$item->link === $current ? active">
                        {include #item, item => $item}
                    </li>
                {/if}
            {/if}
        {/foreach}
    </ul>
</nav>
